{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pln list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Boxes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pln_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    {% for box in entity.getBoxes %}
                    {{ box.getHostname }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                <ul>
                    {% if is_granted('ROLE_ADMIN') or is_granted('VIEW', entity) %}
                    <li>
                        <a href="{{ path('pln_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('EDIT', entity) %}
                    <li>
                        <a href="{{ path('pln_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
            {% if is_granted('CREATE', classId('LOM\\PlnBundle\\Entity\\Pln')) %}
        <li>
            <a href="{{ path('pln_new') }}">
                Create a new entry
            </a>
        </li>
        {% endif %}
    </ul>
    {% endblock %}
