{% extends '::base.html.twig' %}

{% block body -%}

{% if error %}
<div>
{{ error.message }}
    <p><a href="{{ path('password_lost') }}">Password reset</a></p>
</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <fieldset>
        <legend>Login</legend>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}">
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password">
        </div>

        <div>
            <input type="checkbox" id="remember_me" name="_remember_me" checked />
            <label for="remember_me">Keep me logged in</label>
        </div>

        <div>
            <button type="submit" name="login">Login</button>
        </div>
    </fieldset>
</form>
{% endblock %}
