<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                {% if app.user %}
                    <li><a href="{{ path('user') }}">Home</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><hr></li>
                    <li><a href="{{ path('LOMUserBundle_admin') }}">Admin</a></li>
                    <li><a href="{{ path('admin_user') }}">Users</a></li>
                    <li><a href="{{ path('admin_role') }}">Roles</a></li>
                    {% endif %}
                    <li><hr></li>
                    <li><a href="{{ path('pln') }}">Networks</a></li>
                    <li><a href="{{ path('box') }}">Boxes</a></li>
                    <li><hr></li>
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                {% endif %}
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li><hr></li>
                    <li><a href="{{ path('user', {'_switch_user': '_exit'}) }}">Exit impersonation</a></li>
                {% endif %}
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                <form method="get">
                    <fieldset>
                        <legend>Impersonate user</legend>
                        <div>
                            <label for="_switch_user">User</label>
                            <input name="_switch_user" type="text">
                        </div>
                        <div>
                            <button type="submit">Switch</button>
                        </div>
                    </fieldset>
                </form>
                {% endif %}
            </nav>
        </header>

        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
                {{ flashMessage }}
        </div>
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
